.gitignore
build
progbox
outputs/2*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Static and Dynamic Libraries
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

__pycache__/
*.pyc